Telegram/Google Drive.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1rqTg91gE54vwXdYbloBBvcwX0_Y0xoVl",
          "mode": "list",
          "cachedResultName": "TSLA-Q3-2024-Update",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rqTg91gE54vwXdYbloBBvcwX0_Y0xoVl"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        16
      ],
      "id": "4aef40c8-012a-498f-a913-abcc8ff4e9e9",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "w0R8yrDvj9wAADEX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -96,
        16
      ],
      "id": "6184710d-8745-4a81-90fa-bfdb55fb85f7",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "w0R8yrDvj9wAADEX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ntesla",
          "mode": "list",
          "cachedResultName": "n8ntesla"
        },
        "options": {
          "pineconeNamespace": "teslan8n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        112,
        16
      ],
      "id": "aa4e9c2b-ce94-406f-bb5c-dfbf98c1cdcc",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "wvNePnixVPt92R1v",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        176
      ],
      "id": "281ce7f8-ec2b-4b06-a301-18212c9359b5",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "TSLAQ2",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        128,
        208
      ],
      "id": "cd61a54b-9b01-46e7-aa5d-0f0a64029083",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 900,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -32,
        352
      ],
      "id": "5158a3c7-ae47-42c1-b26d-6d59d39986c2",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "85c65ef8-7b82-42c5-b09f-d051eb30b7ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e6f588034f19ac47dbeaf0c183095a3de33c8cca11d577cb22941238d3cd4b9"
  },
  "id": "TCLqcSOxjFHCsEzD",
  "tags": []
}