Telegram/Sub Workflow Mails.json
{
  "name": "Sub Workflow Mails",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -208,
        -208
      ],
      "id": "36e8ae3b-7ea0-4294-a326-1151f2c7bd3a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -32,
        160
      ],
      "id": "2078c27c-f64e-4f0d-b276-09d28f3f4ef6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ubfFyyfpCNFLoShR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `Die Message-ID der Email.`, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        944,
        272
      ],
      "id": "52f4b19a-9288-481e-b05b-0f7530c10db9",
      "name": "markRead",
      "webhookId": "c0ae7f4e-31be-41cd-a899-883b4f5685f6",
      "credentials": {
        "gmailOAuth2": {
          "id": "ORfNeSxN0ycvoq2l",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `Der Betreff der Email.`, 'string') }}",
        "emailType": "html",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Die Nachricht der Email.`, 'string') }}",
        "options": {
          "threadId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Thread_ID', `Die Thread ID der Email, auf die du antworten sollst.`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        784,
        272
      ],
      "id": "841330b5-8f91-4808-93b1-7a0663168fd5",
      "name": "saveReplyDraft",
      "webhookId": "0d64fe08-acf1-4900-99f5-0a34c3b86dbf",
      "credentials": {
        "gmailOAuth2": {
          "id": "ORfNeSxN0ycvoq2l",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "labelIds": [
            "UNREAD",
            "INBOX"
          ],
          "sender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender', `Der Sender der Email.`, 'string') }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        224,
        272
      ],
      "id": "88bb003c-d1f9-4d5d-aa3b-c8941f85a3ae",
      "name": "getEmails",
      "webhookId": "312f5bbf-7614-4d1a-befc-7592c0367f92",
      "credentials": {
        "gmailOAuth2": {
          "id": "ORfNeSxN0ycvoq2l",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `Die Thread ID der Email, auf die du antworten sollst.`, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Der Inhalt der Email.`, 'string') }}",
        "options": {
          "appendAttribution": false,
          "senderName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender_Name', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        640,
        272
      ],
      "id": "1c0f5688-1e94-4b2d-b115-3537b11f6fc7",
      "name": "sendReply",
      "webhookId": "bc2509c0-b19d-497e-b0ca-e22aa4c362f2",
      "credentials": {
        "gmailOAuth2": {
          "id": "ORfNeSxN0ycvoq2l",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `Die Email Adresse des Empfängers.`, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `Der Betreff der Email.`, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Den Inhalt der Email.`, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        368,
        272
      ],
      "id": "0d5d2a48-658e-4124-9179-764a783ce7cd",
      "name": "sendEmail",
      "webhookId": "180e0df0-cd79-4ee1-a3b7-660825b2a686",
      "credentials": {
        "gmailOAuth2": {
          "id": "ORfNeSxN0ycvoq2l",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `Der Betreff der Email.`, 'string') }}",
        "emailType": "html",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Die Nachricht der Email.`, 'string') }}",
        "options": {
          "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', `Die Email des Empfängers.`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        496,
        272
      ],
      "id": "00632250-17a3-4654-9dae-ed008fe28b8f",
      "name": "saveEmailDraft",
      "webhookId": "82eec91a-c9a1-40ed-bfc8-556c153390f7",
      "credentials": {
        "gmailOAuth2": {
          "id": "ORfNeSxN0ycvoq2l",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `Die Message-ID der Email.`, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1104,
        272
      ],
      "id": "2ac2106e-4a0b-4304-9953-0f399a02b9cd",
      "name": "markUnread",
      "webhookId": "438ce016-c775-4f22-943e-619915336683",
      "credentials": {
        "gmailOAuth2": {
          "id": "ORfNeSxN0ycvoq2l",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `Die ID der Nachricht.`, 'string') }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', `Die ID des Labels.`, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1408,
        272
      ],
      "id": "64486733-6b15-4836-b19d-3d68938539b0",
      "name": "labelEmails",
      "webhookId": "9af105a2-4f93-4089-8908-ffb714bf1740",
      "credentials": {
        "gmailOAuth2": {
          "id": "ORfNeSxN0ycvoq2l",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1264,
        272
      ],
      "id": "a6f166d9-3fb4-4514-a8b7-21f755dec5b7",
      "name": "getLabels",
      "webhookId": "39cedbc5-7f7a-4900-889d-51d32f38d69b",
      "credentials": {
        "gmailOAuth2": {
          "id": "ORfNeSxN0ycvoq2l",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        -320
      ],
      "id": "00e16787-5443-48bb-9c4e-523714d5b8d2",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "An error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        -160
      ],
      "id": "502c51da-bc58-4a27-8bc4-2343b0916b7b",
      "name": "Try Again"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Role  \nYour task is to manage, read, and write Arnie`s emails. Make sure to use the correct tool based on the request.  \n\n# INFORMATION  \n- date and time: **{{ $now }}**  \n- You format emails professionally, following standard email writing conventions. \n- The name at the end of the email, after the closing, is always **\"Arnie\"**.  \n\n# Examples:  \n*\"Send an email to...\"* → Use the **sendEmail** tool  \n*\"Reply to this email with a draft...\"* → Use the **saveReplyDraft** tool  \n\n# TOOLS  \n\n## getEmails  \nUse this tool to retrieve unread emails.  \n\n## saveEmailDraft  \nUse this tool to create a draft of an email.  \n\n## sendEmail  \nUse this tool to send an email.  \n\n## saveReplyDraft  \nUse this tool to save a draft for an email reply. You must first use **\"getEmails\"** to retrieve the thread ID of the email you need to reply to with a draft.  \n\n## sendReply  \nUse this tool to send an email reply. You must first use **\"getEmails\"** to retrieve the message ID of the email you want to reply to.  \n\n## getLabels  \nUse this tool to retrieve available labels.  \n\n## labelEmails  \nUse this tool to label an email. First, use **\"getEmails\"** to get the message ID of the email you want to label. Then, use **\"getLabels\"** to obtain the label ID.  \n\n## markRead  \nUse this tool to mark an email as read. You must first use **\"getEmails\"** to get the message ID of the email to be marked.  \n\n## markUnread  \nUse this tool to mark an email as unread. You must first use **\"getEmails\"** to get the message ID of the email you want to mark as unread.  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        224,
        -224
      ],
      "id": "0dca8630-7a7d-4f5d-8c10-4561a01bbe88",
      "name": "Email Agent",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Email Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "markRead": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "saveReplyDraft": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getEmails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "sendReply": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "sendEmail": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "saveEmailDraft": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "markUnread": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "labelEmails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getLabels": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8b5485e7-39b3-4835-8ee1-72c9cf64c7df",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e6f588034f19ac47dbeaf0c183095a3de33c8cca11d577cb22941238d3cd4b9"
  },
  "id": "M2ATED7gfiFohkdQ",
  "tags": [
    {
      "updatedAt": "2025-12-27T18:49:54.672Z",
      "createdAt": "2025-12-27T18:49:54.672Z",
      "id": "jJaesV7FTdLEofWv",
      "name": "Maybe to Big."
    }
  ]
}