Telegram/Sub Workflow X Posts.json
{
  "name": "Sub Workflow X Posts",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -304,
        -80
      ],
      "id": "9fa39e54-9a4c-4454-9c85-80382112d5ef",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "# Role\n\nYou are an expert in creating **high-quality, engaging, and modern posts** for **X (formerly Twitter)**.\n\nYou receive information and generate posts that are:\n\n- **Concise and informative**, without unnecessary details  \n- **Engaging and dynamic**, designed to capture attention and encourage interaction  \n- **Trending and optimized**, using relevant keywords and hashtags for maximum reach  \n- **Structured for readability**, utilizing short paragraphs, line breaks, and emojis to enhance engagement  \n\n---\n\n## Post Style\n\nYour posts should primarily focus on **AI topics** and often start with the following format:\n\n> *\"XYZ just dropped XYZ, and people are already doing crazy stuff with it — 5 examples.\"*\n\nAfter the introduction, you must list **5 examples**.\n\n---\n\n## Important\n\nWhen creating a post, **always use the `savePost` tool** to store it.\n\n---\n\n# Tools\n\n## savePost\n\nUse this tool to save the post in a **Google Sheets document** with the following structure:\n\n- **Column 1:** Current date  \n- **Column 2:** Post topic  \n- **Column 3:** Post content (plain text)\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -96,
        -80
      ],
      "id": "44c6e856-c1fa-45c4-979a-da7136d2ac2f",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -240,
        128
      ],
      "id": "42157523-83aa-4671-bd71-32cc3bf57f5d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ubfFyyfpCNFLoShR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1833b5d-d20b-4eb1-b18f-af6cda967f41",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        -176
      ],
      "id": "6459e9a1-0834-476a-9a45-e0ef97f19670",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31f18d60-833b-400f-bb32-a9674aa7bc12",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        16
      ],
      "id": "28174cad-e1b9-4e01-b432-4fbc52cad832",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WYNA3HL_dwlfM7hvXlzaPpYmX9nh2xbK84KIXAtCyEc",
          "mode": "list",
          "cachedResultName": "x_Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WYNA3HL_dwlfM7hvXlzaPpYmX9nh2xbK84KIXAtCyEc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WYNA3HL_dwlfM7hvXlzaPpYmX9nh2xbK84KIXAtCyEc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date', ``, 'string') }}",
            "Theme": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Theme', ``, 'string') }}",
            "Post": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Post', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Theme",
              "displayName": "Theme",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        64,
        160
      ],
      "id": "56058661-adcf-4c90-b92c-ee14f8655b17",
      "name": "Append row in sheet in Google Sheets",
      "notesInFlow": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VGOQaKSapcuWjoMU",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2c54b75b-fde4-40e9-9990-a502380288c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e6f588034f19ac47dbeaf0c183095a3de33c8cca11d577cb22941238d3cd4b9"
  },
  "id": "lFXxy7kTXiEZwMbF",
  "tags": []
}