Telegram/Telegram3.json
{
  "name": "Telegram3",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -768,
        -256
      ],
      "id": "f8290a7d-8db1-41a8-b326-ed8f83cb0fe5",
      "name": "Telegram Trigger",
      "webhookId": "262ebe27-e899-44ae-8eb8-5b31e64a86a0",
      "credentials": {
        "telegramApi": {
          "id": "EharHZ8mmNtXET8n",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "e85b24e3-75f0-4890-a2e9-30089b30f65b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bdbd9878-811a-417b-acba-47ae25017603",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -368,
        -240
      ],
      "id": "760a56a0-0d89-48c9-b151-f2a12b3e1162",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -320,
        32
      ],
      "id": "41367b5d-db4b-4282-b8c9-6163a3f7a844",
      "name": "Get a file",
      "webhookId": "9283ae0a-2254-4a66-a1cc-3a644938c6aa",
      "credentials": {
        "telegramApi": {
          "id": "EharHZ8mmNtXET8n",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Role  \nYou are an assistant with access to multiple tools.  \n\n# Behavior  \nYou respond concisely and succinctly in a friendly and approachable style.\n\n# Date and Time: {{ $now }}\n\n# Tools  \nYou have access to multiple tools and always use the appropriate one depending on the task.  \n  \n## Calendar_Tool  \nUse this tool every time you need to do something with the Calendar.\n\n## search_agent\nuse this tool to search the web, hackernews and wikipedia\n\n## x_posts\nUse this tool to post on x"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        -288
      ],
      "id": "5b1445b6-aa1e-447c-b30f-92a9d92412dc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        96,
        -32
      ],
      "id": "b846c8ec-4374-4525-aad7-deb11a08c65c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ubfFyyfpCNFLoShR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -112,
        80
      ],
      "id": "d3bba747-ac69-426e-9244-ba6354854416",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "ubfFyyfpCNFLoShR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kdXFRPqvrT7wQ8ZF",
          "mode": "list",
          "cachedResultUrl": "/workflow/kdXFRPqvrT7wQ8ZF",
          "cachedResultName": "Telegram1 Sub Workflow Search"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        576,
        16
      ],
      "id": "2f0ffd59-8a76-4d9a-8ef5-4b0cd5082682",
      "name": "search_agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        -208
      ],
      "id": "0a13a727-2d53-4095-99b6-7891dfed5959",
      "name": "Send a text message",
      "webhookId": "eb920d27-f1f8-42b9-80db-3ec9ca0ac272",
      "credentials": {
        "telegramApi": {
          "id": "EharHZ8mmNtXET8n",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "description": "use this tool everytime you need to do something in the calender",
        "workflowId": {
          "__rl": true,
          "value": "wAq5DiDHcv40MMir",
          "mode": "list",
          "cachedResultUrl": "/workflow/wAq5DiDHcv40MMir",
          "cachedResultName": "My workflow 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        352,
        -32
      ],
      "id": "76419e36-91f4-4fbe-be08-e6f411c730ae",
      "name": "Calendar_Tool"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f3b7b24-7a83-444a-9ada-53cba6f89431",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -320
      ],
      "id": "7aa8ee59-f7dc-4acf-b50d-a452218fc0ac",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "description": "Use this tool everytime you need to do something with mails",
        "workflowId": {
          "__rl": true,
          "value": "M2ATED7gfiFohkdQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/M2ATED7gfiFohkdQ",
          "cachedResultName": "Sub Workflow Mails"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        464,
        -16
      ],
      "id": "98485389-983b-421c-abbe-dbb693fafd16",
      "name": "Gmail_Tool"
    },
    {
      "parameters": {
        "description": "Use this tool to post on x",
        "workflowId": {
          "__rl": true,
          "value": "lFXxy7kTXiEZwMbF",
          "mode": "list",
          "cachedResultUrl": "/workflow/lFXxy7kTXiEZwMbF",
          "cachedResultName": "Sub Workflow X Posts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        736,
        0
      ],
      "id": "5f46a991-d4b2-4bf1-bd3e-96f66631bf05",
      "name": "x_posts"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are Sally, a funny guy that makes sarcastic comments and funny anekdotes about topics.You try to roast the topics and insult a bot.\n\nGive one punch line please\n\ntopics:{{ $json.output }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        448,
        -464
      ],
      "id": "f0162494-40d4-4ecd-8bab-64140ceaf9c1",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        -336
      ],
      "id": "b193fdb2-1fce-458e-a965-e0f551d6a942",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ubfFyyfpCNFLoShR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "model": "tts-1-hd",
        "input": "={{ $json.text }}",
        "voice": "nova",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        800,
        -448
      ],
      "id": "ca175ab6-2e02-4430-a443-467327205320",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "ubfFyyfpCNFLoShR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        -448
      ],
      "id": "b6ad2700-b855-4b16-802c-0764e9d2ba9a",
      "name": "Send an audio file",
      "webhookId": "c711bf95-dc09-45ed-baa5-2c11d2aefa24",
      "credentials": {
        "telegramApi": {
          "id": "EharHZ8mmNtXET8n",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0f364058-6fae-443c-a1bc-dc57f8730c39",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": 8388580128,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "cb2ece34-824f-4465-80ec-26dc2f292ac4",
              "leftValue": "={{ $json.message.chat.username }}",
              "rightValue": "safalta21",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "74e74ce0-af9b-4cdf-a5de-b47fc091ca6e",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        -256
      ],
      "id": "e1ae52f6-8793-4f0e-acf5-41cd50cb27ac",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search_agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar_Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail_Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "x_posts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9418cb79-1ee0-467c-a454-e468bf5b5b97",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e6f588034f19ac47dbeaf0c183095a3de33c8cca11d577cb22941238d3cd4b9"
  },
  "id": "Q0NDVI2PzimLrLMc",
  "tags": []
}